<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        /* h1 {
            color: rgb(143, 229, 158);
        } */
    </style>
</head>
<body>
    <%- include('sub_views/header') %>

    <div>
        <h1>Add Master Packing List</h1>
    </div>

    <div>
        <form action="/admin_page/master_setting/adding" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>QR PACKING LIST</th>
                        <th>PART NUMBER</th>
                        <th>PART NAME</th>
                        <th>BOX NO.</th>
                        <th>QTY</th>
                        <!-- <th>COUNT BOX</th> -->
                        <th>DNTH Receive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% let count = 0; %>
                    <% master_datas.forEach((master_data) => { %>
                    <tr>
                        <% count++; %>
                        <% const is_fac1_receive = master_data.is_fac1_receive.toString('hex'); %>
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= count %></td>
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= master_data.qr_packingList %></td>
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= master_data.partNumber %></td>
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= master_data.partName %></td>
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= master_data.qr_box %></td>
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= master_data.qty %></td>
                        <!-- <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= master_data.boxCount %></td> -->
                        <td style="<% if (master_data.is_fac1_receive.toString('hex') === '01') { %> background-color: rgb(143, 229, 158);; <% } %>"><%= is_fac1_receive %></td>
                        <td>
                            <a class="btn btn-primary" href="/admin_page/master_setting/edit?qr_box=<%= master_data.qr_box %>&qr_packingList=<%= master_data.qr_packingList %>">Edit</a>
                            <a class="btn btn-secondary" onclick="confirmDelete('<%= master_data.qr_box %>')" href="/admin_page/master_setting/delete?qr_box=<%= master_data.qr_box %>&qr_packingList=<%= master_data.qr_packingList %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td><div id="no" class="no">Add here</div></td>
                        <td><input type="text" name="qr_packingList" id="qr_packingList" class="qr_packingList"></td>
                        <td><input type="text" name="part_number" id="part_number" class="part_number"></td>
                        <td><input type="text" name="part_name" id="part_name" class="part_name"></td>
                        <td><input type="text" name="box_no" id="box_no" class="box_no"></td>
                        <td><input type="text" name="qty" id="qty" class="qty"></td>
                        <!-- <td><input type="text" name="count_box" id="count_box" class="count_box"></td> -->
                        <td><input type="checkbox" name="is_fac1_receive" id="is_fac1_receive"></td>
                        <td>
                            <!-- <a class="btn btn-primary" href="#">Edit</a>
                            <a class="btn btn-secondary" href="#">Delete</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" type="submit">Add Master Packing List</button>
                <a href="/admin_page/master_setting/reset_dnth_receive" class="btn btn-danger">Reset DNTH Received</a>
            </div>
        </form>
    </div>


    <script>
        // Set the initial value of the "no" div to 1
        // document.getElementById('no').innerText = 1;

        function confirmDelete(qrBox) {
            var result = confirm("Are you sure you want to delete this record?");

            if (result) {
            // Proceed with the delete operation
            window.location.href = `/admin_page/master_setting/delete?qr_box=${master_data.qr_box}&qr_packigList=${master_data.qr_packingList}`;
            } else {
            // Cancel the delete operation
            return false;
            }
        }
    </script>
    
</body>
</html>