<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .mode {
            display: none;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="/admin_page">Home</a>
        <a href="/admin_page/master_main">Master Main</a>
        <a href="/admin_page/master_setting">Master Setting</a>
        <a href="/admin_page/receive_scan_master">Receive Scan</a>
        <a href="/dnth_data">DNTH Data</a>
        <a href="/pc_page">PC Page</a>
        <a href="/prod_page">PD Page</a>
        <a href="/logout">Logout</a>
    </div>

    <div>
        <h1>PC Order Shop Page</h1>
    </div>

    <div>
        <div>
            <h3>Shop by : </h3>
        </div>
        <button type="button" class="btn btn-primary" id="btn_pn">Part Number</button>
        <button type="button" class="btn btn-warning" id="btn_qty">Quatity (QTY)</button>
    </div>

    <div id="pn_mode" class="mode">
        <form action="/pc_page/update_qr_prod_by_pn" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>QR PACKING LIST IN</th>
                        <th>TOTAL QTY</th>
                        <th>PART NUMBER</th>
                        <th>QR PRODUCTION</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <% dnth_group_datas.forEach((data) => { %> 
                        <tr>
                        <td>
                            <input name="qr_pack_in" id="qr_pack_in" style="border: 0px solid white;" type="text" value="<%= data.qr_pack_in %>" readonly>
                        </td>
                        <td>
                            <input name="totalQty" id="totalQty" type="text" value="<%= data.totalQty %>" readonly>
                        </td>
                        <td>
                            <input name="partNumber" id="partNumber" type="text" value="<%= data.partNumber %>" readonly>
                        </td>
                        <td>
                            <input value="<%= data.qr_prod %>" name="qr_prod" id="qr_prod_<%= data.partNumber %>" type="text" readonly>
                        </td>
                        <td id="btn_action">
                            <button type="button" class="btn btn-primary btn_generate_qr" data-type="DNTH" data-part-number="<%= data.partNumber %>">DNTH PD QR</button>
                            <button type="button" class="btn btn-info btn_generate_qr" data-type="TTT" data-part-number="<%= data.partNumber %>">TTT PD QR</button>
                            <button type="button" class="btn btn-secondary btn_generate_qr" data-type="NTS" data-part-number="<%= data.partNumber %>">NTS PD QR</button>
                            <button type="button" class="btn btn-danger" id="btn_reset_dnth">Reset DNTH</button>
                            <button type="button" class="btn btn-danger" id="btn_reset_ttt">Reset TTT</button>
                            <button type="button" class="btn btn-danger" id="btn_reset_nt">Reset NTS</button>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Save PD QR</button>
        </form>

    </div>

    <div id="qty_mode" class="mode">
        <form id="qty_form" action="/pc_page/update_qr_prod_by_qty" method="post">
            <!-- Add a table to display the data -->
            <table class="table">
              <!-- Table headers -->
              <thead>
                <tr>
                    <!-- Your table headers -->
                    <th>QR PACKING LIST IN</th>
                    <th>QR KANBAN IN</th>
                    <th>QTY</th>
                    <th>PART NUMBER</th>
                    <th>QR PRODUCTION</th>
                    <th>SELECTED</th>
                </tr>
                </thead>
              <tbody>
                <!-- Loop through the data and display each row -->
                <% dnth_datas.forEach((data, i) => { %>
                  <tr onclick="checkRow(this)">
                    <!-- Display the data and include a checkbox for each row -->
                    <td>
                        <input type="text" name="qr_pack_in[]" id="qr_pack_in" value="<%= data.qr_pack_in %>" readonly>
                    </td>
                    <td>
                        <input type="text" name="qr_kanban_in[]" id="qr_kanban_in" value="<%= data.qr_kanban_in %>" readonly>
                    </td>
                    <td>
                        <input type="text" name="qty_kanban_in[]" id="qty_kanban_in" value="<%= data.qty_kanban_in %>" readonly>
                    </td>
                    <td>
                        <input type="text" name="partNumber[]" id="partNumber" value="<%= data.partNumber %>" readonly>
                    </td>
                    <td>
                        <input type="text" name="qr_prod[]" id="qr_prod" value="<%= data.qr_prod %>" readonly>
                    </td>
                    <!-- Include other data fields as needed -->
                    <td><input type="checkbox" name="select[]" value="<%= i %>" onclick="event.stopPropagation()"></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
        
            <!-- Add a submit button to send the checked data to the server -->
            <button class="btn btn-primary" id="dnth_submit" name="dnth_submit[]" type="submit">Update PD QR (DNTH)</button>
            <button class="btn btn-info" id="ttt_submit" name="ttt_submit[]" type="submit">Update PD QR (TTT)</button>
            <button class="btn btn-warning" id="nts_submit" name="nts_submit[]" type="submit">Update PD QR (NTS)</button>
          </form>
    </div>


    <script>
        // for select button choose mode
        $(document).ready(function () {
            $('#btn_pn').click(function () {
                $('#pn_mode').show();
                $('#qty_mode').hide();
            });

            $('#btn_qty').click(function () {
                $('#pn_mode').hide();
                $('#qty_mode').show();
            });

            // Delegate click event to the parent element
            $('#pn_mode').on('click', '.btn_generate_qr', function (event) {
                event.preventDefault();
                const type = $(this).data('type');
                const partNumber = $(this).data('part-number');
                const qr_prod = generateQR(type, partNumber);
                $(`#qr_prod_${partNumber}`).val(qr_prod);
            });

            // Reset local storage for DNTH
            $('#pn_mode').on('click', '#btn_reset_dnth', function () {
                resetLocalStorage('DNTH');
            });

            // Reset local storage for TTT
            $('#pn_mode').on('click', '#btn_reset_ttt', function () {
                resetLocalStorage('TTT');
            });

            // Reset local storage for NT
            $('#pn_mode').on('click', '#btn_reset_nt', function () {
                resetLocalStorage('NTS');
            });

            // Function to generate QR code
            function generateQR(type) {
                // Retrieve last generated number from local storage
                let lastNumber = localStorage.getItem(type) || 0;
                lastNumber = parseInt(lastNumber);
                // Increment number
                lastNumber++;
                // Pad number with leading zeros
                const paddedNumber = String(lastNumber).padStart(4, '0');
                // Store updated number in local storage
                localStorage.setItem(type, paddedNumber);
                // Generate QR code
                return type + 'PD' + paddedNumber;
            }

            function resetLocalStorage(type) {
                localStorage.removeItem(type);
                $('.btn_generate_qr').each(function() {
                    const partNumber = $(this).data('part-number');
                    const qrProdInput = $(`#qr_prod_${partNumber}`);
                    // Check if qr_prod is empty before clearing the value
                    if (qrProdInput.val().trim() === '') {
                        qrProdInput.val('');
                    }
                });
            }

            //_____________________________________QTY MODE___________________________________________
        });

        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll("#qty_main_table tbody tr");
            rows.forEach(row => {
                row.addEventListener("click", function () {
                    const checkbox = row.querySelector("input[type='checkbox']");
                    checkbox.checked = !checkbox.checked;
                });
            });
        });
        function checkRow(row) {
            const checkbox = row.querySelector('input[type="checkbox"]');
            checkbox.checked = !checkbox.checked;
        }

    </script>
    
</body>
</html>