<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
      .inventory-flow {
        width: 100%;
        height: 22vh;
        display: flex;
        justify-content: center;
        position: relative;
        /* border: 3px solid red; */
      }
      .inventory-flow .text-in {
        position: absolute;
        /* border: 1px solid gray; */
        /* display: flex; */
        left: 26vw;
        top: 12%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="/admin_page">Home</a>
      <a href="/admin_page/master_main">Master Main</a>
      <a href="/admin_page/master_setting">Master Setting</a>
      <a href="/admin_page/receive_scan_master">Receive Scan</a>
      <a href="/dnth_data">DNTH Data</a>
      <a href="/pc_page">PC Page</a>
      <a href="/prod_page">PD Page</a>
      <a href="/logout">Logout</a>
    </div>

    <!-- Inventory Flow -->
    <div class="inventory-flow">
      <img src="/static/picture/Machine_OUT.png" alt="" />
      <div class="text-in"></div>
    </div>

    <div>
      <h1>Production Output Details</h1>
    </div>
    <hr />

    <form action="/prod_page/prod_output/finished" method="POST" onsubmit="return validateForm()">
      <div class="fill-operator">
        <table class="table">
          <thead>
            <tr>
              <th>QR KANBAN IN</th>
              <th>QR PRODUCTION</th>
              <th>PART NUMBER</th>
              <th>QTY KANBAN IN</th>
              <th>TOTAL OK QTY</th>
              <th>OPERATOR</th>
            </tr>
          </thead>
          <tbody>
            <% dnth_datas.forEach((row) => { %>
              <tr>
                <td>
                  <input type="text" id="qr_kanban_in" name="qr_kanban_in" value="<%= row.qr_kanban_in %>" readonly>
                </td>
                <td>
                  <input type="text" id="qr_prod" name="qr_prod" value="<%= row.qr_prod %>" readonly>
                </td>
                <td>
                  <input type="text" id="partNumber" name="partNumber" value="<%= row.partNumber %>" readonly>
                </td>
                <td>
                  <input type="number" id="qty_kanban_in" name="qty_kanban_in" value="<%= row.qty_kanban_in %>" readonly>
                </td>
                <td>
                  <input type="number" id="total_ok_prod" name="total_ok_prod" placeholder="Please fill here">
                  / <%= row.qty_kanban_in %>
                </td>
                <td>
                  <input type="text" id="operator" name="operator" placeholder="Please fill here">
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit Output</button>
      </div>
    </form>

    <!-- </form> -->

    <script>
      window.onload = () => {
        document.getElementById("qr_prod").focus();
      };

      <% if (errMsg.length > 0) { %>
        <div class="alert alert-danger">
          <%= errMsg[0] %>
        </div>
      <% } %>
        
      function validateForm() {
        let totalOkProds = document.getElementsByName('total_ok_prod');
        let qtyKanbanIns = document.getElementsByName('qty_kanban_in');
        
        for (let i = 0; i < totalOkProds.length; i++) {
          let inputValue = parseInt(totalOkProds[i].value); // Parse the input value as an integer
          let maxAllowedValue = parseInt(qtyKanbanIns[i].value); // Parse the max attribute value as an integer

          if (inputValue < 0 || inputValue > maxAllowedValue) {
            alert('Total OK QTY cannot be negative or greater than the quantity of kanban in');
            totalOkProds[i].focus();
            return false; // Prevent form submission
          }
        }
        return true; // Allow form submission
      }
    </script>
  </body>
</html>
